.columns{
    width: 900px;
    height: 400px;
    display: inline-block;
    text-align: center;
}
.column{
    display: inline-block;
    width: 40%;
    height: 300px;
    padding: 3%
    
}
h5{
    margin-top: -0.59%;
    margin-bottom: -0.59%;
}
