.info{
    text-align: center;
    height: 300px;
    width: 900px;
}
img{
    height: 50%;
    width: 15%;
}
h1{
    font-family: 'Comic Neue', cursive;;
}
p{
    font-family: 'Comic Neue', cursive;;
}